#Домашняя работа. Урок 1.

##Задание 1
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [8]:
def all_fruits(**kwargs):
    return f'Общее количество фрутов на складе = {sum(kwargs.values())}'

In [9]:
fruits = {
    'яблоки': 105,
    'бананы': 125,
    'манго': 27,
    'ананасы': 11,
}

In [10]:
all_fruits(**fruits)

'Общее количество фрутов на складе = 268'

##Задание 2
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [12]:
spending = [100, 125, -90, 345, 655, -1, 0, 200]
true_spending = [i for i in spending if i > 0]
print(true_spending)
f'Суммарные затраты = {sum(true_spending)}'

[100, 125, 345, 655, 200]

'Суммарные затраты = 1425'

##Задание 3
###Пункт 1
Даны два списка.

Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [27]:
data = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', 
        '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', 
        '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
        '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
        '2021-10-26', '2021-12-09']
summa = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 
       2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
f'Выручка у компании в ноябре = {sum([j for i, j in zip(data, summa) if i[5:7] == "11"])}'

'Выручка у компании в ноябре = 25098'

##Задание 3
###Пункт 2
Найдите выручку компании в зависимости от месяца.
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [57]:
def new_dict(keys: list, values: list) -> dict:
  result = {}
  for i, j in zip(data, summa):
        if i[5:7] in result.keys():
            result[i[5:7]] = result[i[5:7]] + j
        else:
            result[i[5:7]] = j
  return result

In [58]:
new_dict(data, summa)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}